/*--- John McCutchan ---*/
/* Built with Bootstrap, mobile first */
/*============ Structure ===============*/
.containerHeight{}
header{
  height: 150px;
}
h1{
  line-height: 150px;
  margin: 0 auto;
  text-align: center;
}
section{}
form{
  margin-top: 50px;
}
fieldset{
  padding: .35em .625em .75em;
  margin: 0 2px;
}
legend.scheduler-border {
  width:auto;
  padding:0 10px;
}
legend{
  width: inherit;
}
label:nth-of-type(2){
  margin-top: 10px;
}
button{
  margin-top: 20px;
  padding: 5px 10px;
  background-color: red;
}
.border{
  margin:10px 0;
}
footer{
  height:50px;
  position: absolute;
  bottom:0;
  margin-top: 50px;
}
.box{
  margin-bottom: 2px;
  min-height: 140px;
}
#putTextHere{
  width: 90%;
  height: 200px;
  margin: 2% 5%;
}
#buttons{
  margin: 0 0 20px 0;
}
#buttonRow{}
button{
  width: 200px;
}
/*============ Structure END ===========*/
/*============ Skin ====================*/
body{
  background-image: url();
  background-repeat: repeat;
  background-color: black;
}
.container{
  background-color: white;
}
header{
  background-color: rgba(52, 73, 94,1.0);
  color: rgba(255, 255, 255,1.0);
  border-bottom: 10px solid rgba(41, 128, 185,1.0)
}
header h1{
  font-family: Palatino;
  letter-spacing: 3px;
  font-size: 3em;
}
.border{
  border: 2px solid rgba(192, 57, 43,0.6);
}
fieldset{
  border: 1px solid silver;
}
legend.scheduler-border {
  border-bottom:none;
}
legend{
  border:none;
  font-weight: bolder;
}
footer{
  background-color: rgba(52, 73, 94,1.0);
  color: rgba(255, 255, 255,1.0);
  font-family: Palatino;
}
input{
  padding: 5px 10px;
}
button{
  border-radius: 10px;
  background-color: rgba(41, 128, 185,1.0);
  color: rgba(255, 255, 255,1.0);
}
li{
  list-style-type: none;
  text-align: center;
}
.inventory{
  border: 1px solid rgba(0, 0, 0,0.5) !important;
  border-radius: 5px !important;
}
.box{
  border: 1px solid rgba(0, 0, 0,0.5);
  border-radius: 5px;
}
#putTextHere{
  border: 10px solid rgba(52, 73, 94,1.0);
  font-size: 8em;
  font-weight: bolder;
  color: rgba(52, 73, 94,1.0);
  text-align: center;
  line-height: 200px;
}
#clear{
  width: 50%;
  margin: 5px auto;
  padding: 15px;
}
/*============ Skin END ================*/
